
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ question.question_title }}</title>
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css"> -->
    
</head>
<body>
    <div class="content">
        <h1> {{question.question_title}} </h1>
        <p> {{question.question_text|safe}} </p>
        <p class="qdetails">
            <span style="float: right">Posted By<strong> {{question.user}} </strong></span>
            <span style="float: right">Posted on <strong> {{question.date_posted}}</strong></span>
        </p>
        <div id="answers">
        {% for answer in answers %}
                {{answer.answer_text|safe}}
                <p class="adetails">
                        <span style="float: right">Posted By<strong> {{answer.user}} </strong></span>
                        <span style="float: right">Posted on <strong> {{answer.date_posted}}</strong></span>
                </p>
        {% endfor %}
        </div>
        <form class="" action="{% url 'answerquestion' %}" method="post">
                {% csrf_token %}
                <textarea name="answer" rows="8" cols="80" placeholder="What's your Answer?"></textarea><p />
                <input type="text" name="posted_by" value="" autocomplete="off" placeholder="Enter your name ..."><p />
                <input type="hidden" id="qid" name="qid_id" value="{{ question.qid }}">
                <input type="hidden" id="qslug" name="slug" value="{{ question.slug }}">
                <input type="submit" name="answer_question" value="Answer">
        </form>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
    </div>
</body>
</html>